.git/
.github/
.venv/
.vscode/
.pytest_cache/
docker/
.dockerignore
.env
.env.dev
.env.template
**/__pycache__/
**/*.py[cod]
.gitignore
CHANGELOG.md
docker-compose.yaml
LICENSE
README.md
ruff.toml
.DS_Store
