name: Type check with pyright

on:
  push:
    branches:
      - main
    paths:
      - "**/*.py"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.py"

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: Set up python
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install the project
      run: uv sync --frozen --group dev

    - name: Run pyright
      run: uv run pyright
